@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body{
    /* background-color: #2b2d42; */
    background-color: #ade8f4;
}

h1 {
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 3em;
    font-family: 'Josefin Sans';
}

.container {
    margin: 0 auto;
    width: 35%;
    text-transform: capitalize;
    min-width: 400px; 
}

div {
    color: white;
}

input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 2px;
    border:none;
    height: 40px;
    /* background-color: #14213d; */
    background-color: #caf0f8;
    color: black;
    font-size: 1.13em;
    padding-left: 10px;
    font-family: 'Quicksand', cursive;

}

input:focus {
    outline: none   ;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;

}

li {
    height: 40px;
    /* background-color: rgba(20, 33, 61,0.4); */
    background-color: #90e0ef;
    line-height: 40px;
    padding-left: 10px;
    border-radius: 3px;
    font-size: 1.1rem;
    margin-top: 0.9px;
    font-family: 'Quicksand', cursive;
}

p {
    text-align: center;
    font-size: 1.7rem;
    font-family: 'Raleway';

}

i {
    float: right;
    padding-right: 5px;
    line-height: 35px;

}

.filtred{
    display: none !important;
}

.fa-trash-can {
    height: 40px;
    height: inherit;
    text-align: center;
    display: inline-block;
    position:relative;
    top: calc(50% - 10px);
    cursor: pointer;
    padding-right: 10px;
    font-size: 1.1;
}


.fa-trash-can:hover {
  animation: shake 0.43s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

.btn-trash {
  background-color:#90e0ef;
  margin-top: 10px;
  margin-right: 5px;
  color:white;
  font-size: 17px;
  float: right;
  border:none;
  cursor: pointer;
  font-size: 1.1;

}


.check {
  text-decoration: line-through;
  color:rgb(252, 250, 252);
  
}




.flash {
    animation: blinker 0.5s linear;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
}

.flash1 {
    animation: blinker 0.5s linear;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
}



@keyframes shake {
  10%, 70% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 70% {
    transform: translate3d(1px, 0, 0);
  }
  
  30%, 50%, 40% {
    transform: translate3d(-1.5px, 0, 0);
  }
  40%, 50% {
    transform: translate3d(1.5px, 0, 0);
  }
}


.fa-trash-can {
  background: none;
  padding: 0px;
  border: none;
}

